*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
;
}
.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 3vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color: brown;
    background-color: rgb(238, 241, 184);
    
}
#reset{
    background-color: rgb(0, 0, 0);
    padding: 1vmin;
    font-size: 5vmin;
    border-radius: 3vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 10vmin;
    color: rgb(255, 255, 255);
    font-size: 5vmin;
}
#newGame{
    background-color: rgb(0, 0, 0);
    padding: 1vmin;
    font-size: 5vmin;
    border-radius: 3vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 10vmin;
    color: rgb(255, 255, 255);
    font-size: 5vmin;

}
.massage{
    font-size: 5vmin;
    color: rgb(0, 0, 0);
    font-size: 5vmin;
}
.hide{
    display: none;
}